.App {
  display: grid;
  grid-template-areas: 
            "head head head"
            "main main side"
            "foot foot foot";
  min-height: 100vh;
}
.AppLogo {
  display: block;
  height: 1.8em;
  width: auto;
}
header,
footer {
  gap: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: rgb(84, 170, 232);
}
main { grid-area: main; }
aside { grid-area: side; }
header { grid-area: head; }
footer { grid-area: foot; }